.barra {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 200px;
    background-color: black;
    gap: 10px;
}
.caja1 {
    width: 150px;
    height: 150px;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja2, .caja3, .caja4, .caja5, .caja6, .caja7 {
    width: 100px;
    height: 150px;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reloj {
    color: white;
    font-size: 50px;
}
h1 {
    color: white;
    font-size: 50px;
}
